body {
	background: rgb(0,212,255);
  background: linear-gradient(180deg, rgba(96,228,255,1) 0%, rgba(255,255,255,1) 100%);
	margin-left: 10.5%;
	margin-right: 10.5%;
	font-family: helvetica, sans-serif;
}

/* Style the header */
.header {
  padding: 50px;
  text-align: center;
}

p {
  font-size: 15px;
}

a {
  	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

body {
  font-family: helvetica;
	text-align: center;
  padding: 10px;
}

h5 {
	font-family: Helvetica;
	text-align: center;
	font-size: 30px;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.homebutton {
	margin-left : -5%;
	text-align: left;
}

a.button {
    text-decoration: none;
    border: 2px solid black;
    font-size: 20px;
    padding: 4px;
    color: black;
    background: white;
}

.meme {
	text-align: center;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
	background: white;
}
