@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	background: url(/static/img/commentformbg.jpg) no-repeat center center fixed;
	background-size: cover;
}

.main-section {
	margin: 0 auto;
	margin-top: 100px;
	padding: 0;
}

.modal-content {
	background-color: gray;
	opacity: .95;
	padding: 0 18px;
	box-shadow: 0px 0px 5px #848484;
}

.user-img {
	margin-top: -50px;
	margin-bottom: 35px;
}

.user-img img {
	height: 150px;
	width: 250px;
	border-radius: 25px;
	box-shadow: 0px 0px 3px gray;
}

.form-group {
	margin-bottom: 25px;
}

.form-group input {
	height:42px;
	border-radius: 5px;
	border: 0;
	font-size: 20px;
	padding-left: 5px;
}

button {
	width: 40%;
	margin: 5px 0 25px;
}

.btn {
	background-color: lightblue;
	color: #fff;
	font-size: 25px;
	padding: 7px 14px;
	border-radius: 10px;
	border-bottom: 4px solid #fff;
}

.btn:hover, .btn:focus {
	background-color: lightblue !important;
	border-bottom: 2px solid lightblue !important;
}

.content {
  text-align: center;
  border-radius: 50px;
}

.gif-img {
	margin-top: 10px;
	margin-bottom:25px;
}

.gif-img img {
	height: 100px;
	width: 125px;
	border-radius: 50px;
	box-shadow: 0px 0px 3px #848484;
}
