@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	font-family: 'Roboto', sans-serif;
	background: url(/static/img/login_bg.png) no-repeat center center fixed;
	background-size: cover;
}

.main-section {
	margin: 0 auto;
	margin-top: 130px;
	padding: 0;
}

.modal-content {
	background-color: gray;
	opacity: .95;
	padding: 0 18px;
	box-shadow: 0 px 0px 3px #848484;
}

.user-img {
	margin-top: -50px;
	margin-bottom:35px;
}

.user-img img {
	height: 200px;
	width: 400px;
	border-radius: 25px;
	box-shadow: 0px 0px 3px #848484;
}

.form-group {
	margin-bottom: 25px;
}

.form-group input {
	height:42px;
	border-radius: 5px;
	border: 0;
	font-size: 18px;
}
