<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/themes/about.css">
  </head>
  <h1>About Us</h1>
 <div>
  <h2>What do we do?</h2>
  <body>
    <a href = "/" class = "button">Home</a>
    <p>Our goal is to connect you with others of similar/different ideas or opinions.</p>
  </body>
 </div>
 <div>
   <h2>How do I use it?</h2>
   <body>
    <p>If your're wondering how it all works it's quite simple! You can choose on the tabs which topic you want to view. You can Like, Comment, or Create your own post! </p>
  </body>
 </div>
 <div>
    <h2>Frequently Asked Questions: </h2>
    <body>
    <p>Sometimes complications may arise where we cannot find you an event or activity taking place near you that falls under your preferred activities. To solve this we offer something outside of your comfort zone in the hopes forn you to try something new.</p>
    </body>
 </div>
 <button onclick="goBack()">Go Back</button>
</html>
