<!DOCTYPE html>
<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/about.css">
  </head>
  <body>
  <h5>About Us</h5>
  <div class="homebutton">
    <a href = "/" class = "button">Home</a>
  </div>
 <div>
  <h2>What do we do?</h2>
    <p>Our goal is to connect you with others of similar/different ideas or opinions.</p>
  </br>
 </div>
 <div>
   <h2>How do I use it?</h2>
    <p>If your're wondering how it all works it's quite simple! You can choose on the tabs which topic you want to view. You can Like, Comment, or Create your own post! </p>
  </br>
 </div>
 <div>
    <h2>Our Message</h2>
    <p>Sometimes complications may arise where we cannot find you an event or activity taking place near you that falls under your preferred activities. To solve this we offer something outside of your comfort zone in the hopes for you to try something new!</p>
  </br>
 </div>

<div class="meme">
  <img src="https://i.imgflip.com/1w43gd.jpg">
  </br>
</div>

 <div class="footer">
   <h2>Contact Us!</h2>
   <p> University of Rochester </p>
   <p> 500 Joseph C. Wilson Blvd. </p>
   <p> Rochester, NY 14627 </p>
   <p> (585) 275-2121 </p>
 </div>
 </body>
</html>
