<!DOCTYPE HTML>
<html lang="en">
	<head>
			<title> Register </title>
			<link rel = "stylesheet" href = "{{ url_for('static', filename='addUser.css') }}">
	</head>
	<body>
		<div class="header">
		<h1 id = "welcome">Register to Cnitt!</h1>
		</div>
			<form method="POST" id = "block">
					{{ form.hidden_tag() }}
					First Name : {{ form.first_name() }}<br><br>
					Last Name: {{ form.last_name() }}<br><br>
					Email: {{ form.email() }}<br><br>
					Password: {{ form.password() }}<br><br>
					<a href = "/" class = "button">Back</a>
					{{ form.submit() }} <br>
			</form>
	</body>
</html>
