<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <title> add_user</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
        <div id="form descr">
            <a href = "/" class = "button">Home</a>
            <h2>Add user: </h2>
        </div>
        <form method="POST" id = "block">
            {{ form.hidden_tag() }}
            First Name : {{ form.first_name() }}<br>
            Last Name: {{ form.last_name() }}<br>
            Email: {{ form.email() }}<br>
            Password: {{ form.password() }}<br>
            {{ form.submit() }}
        </form>                
    </body>
</html>
