<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <title> Forum</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='forum.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='forum.js') }}"></script>
	</head>

	<body>
        <br/>
        <a href = "/" id = "home" class = "button">Back to Home</a>
        <a href = "{{ url_for('logout') }}" class = "button">Log out</a>
    -->
    <ul>
    {% for post in posts%}
        <li>
            {{ post.title }}
        </li>
    {% endfor %}
    </ul>
    </body>
</html>
