<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="Cache-control" content="no-cache">
		<meta charset="utf-8"/>
	<!-- <link rel = "stylesheet" href = "{{ url_for('static', filename='home.css') }}"> -->
	<!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
		<title> {{ cnitt_name }} </title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<!-- Allows us to use social media icons -->
		<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
		<link rel = "stylesheet" href = "{{ url_for('static', filename='mega.css') }}">
</head>
<body>
  	<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
  			<a class="navbar-brand img" href="/"><img src="/static/img/mylogo.png"></a>
  			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
  					<span class="navbar-toggler-icon"></span>
  			</button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li>
          <a class="nav-link" href="/about">About</a>
        </li>


        {% if current_user.is_authenticated %}
        <li>
          <a class="nav-link" href="users/{{current_user.id}}">Profile</a>
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('mtp', cnitt_name = cnitt_name ) }}">Create-Text-Post</a>
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('mlp', cnitt_name = cnitt_name ) }}">Create-Link-Post</a>
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
        </li>
        {% else %}
        <li>
          <a class="nav-link" href="/add_user">Register</a>
        </li>
        <li>
          <a class="nav-link" href="{{ url_for('login') }}">Login</a>
        </li>
        {% endif %}
      </ul>
      </div>
  		</div>
  	</nav>

    <!-- The navigation for subscription c links -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
    		<li class="navbar-nav ml-auto">
    			{% for sub in current_user.subscriptions %}
    			<div>
    				<a class="nav-link" href="{{ url_for('show_sub_cnitt')}}{{ sub }}"><button type="button" class="btn btn-outline-dark btn-md">{{sub}}</button></a>
    			</div>
    			{% endfor %}
    		</li>
    </nav>

    <!--- top hot and new -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
    			<li class="navbar-nav ml-12">
    			<div>
    				<a class="nav-link" href="{{ url_for('show_sub_cnitt', cnitt_name=cnitt_name, sort_type='Hot')}}" class ="button">Hot</a>
    			</div>

          <div>
    				<a class="nav-link" href="{{ url_for('show_sub_cnitt', cnitt_name=cnitt_name, sort_type='Top')}}" class ="button">Top</a>
    			</div>

          <div>
    				<a class="nav-link" href="{{ url_for('show_sub_cnitt', cnitt_name=cnitt_name, sort_type='New')}}" class ="button">New</a>
    			</div>

          {% if not cnitt.required_subscription %}
              {% if current_user.is_authenticated %}
                  {% if cnitt.is_subscribed(current_user) %}
                      <div>
                          <a class="nav-link" href="{{ url_for('unsubscribe', cnitt=cnitt_name) }}" class ="button">Unsubscribe</a>
                      </div>
                  {% else %}
                      <div>
                          <a class="nav-link" href="{{ url_for('subscribe', cnitt=cnitt_name) }}" class ="button">Subscribe</a>
                      </div>
                  {% endif %}
              {% else %}
                  <div>
                      <a class="nav-link" href="{{ url_for('login') }}" class ="button">Please login to subscribe!</a>
                  </div>
              {% endif %}
          {% endif %}
    		</li>
    </nav>

  <!-- Cnitt posts -->
	<br/>
  	{% for post in posts%}
  		<div class="container-fluid padding">
  			<div class="row padding">
  				<div class="col-lg-12">
  					{% if post.is_link %}
  					<h2><a href = "users/{{post.creator}}"> {{users.query.filter_by(id=post.creator).first().username }} </a></h2>
  					{% else %}
  					<h2><a href = "{{ url_for('comments_for_post', cnitt_name = cnitt_name, post_id = post.pid)}}"> {{ post.title }} </a></h2>
  					{% endif %}
  					<a href = "{{ url_for('comments_for_post', cnitt_name = cnitt_name, post_id = post.pid)}}" id = "blur" class="btn btn-primary"> Comments </a>
  					<button class="up_arrow"  type="button">UP</button>
  					<b> {{ post.net_votes }}</b>
  				</div>
  			</div>
  			<hr class="light">
  		</div>
  	{% endfor %}


<!-- Recommended pages -->
<div class="container-fluid padding">
	<div class="row recommended text-center">
		<div class="col-12">
			<h1 class="display-4">Recommended</h1>
		</div>
		<hr>
	</div>
</div>

<div class="container-fluid padding">
	<div class="row padding">
		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="/static/img/gameicon.png">
				<div class="card-body">
					<h4 class="card-title"> c/games</h4>
					<p id = "our_message" class="card-text"> Check out what other gamers are doing! </p>
					<a href="c/games" class="btn btn-outline-secondary">Check it out</a>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="/static/img/funny.png">
				<div class="card-body">
					<h4 class="card-title"> c/funny</h4>
					<p id = "our_message" class="card-text"> Check out what others are laughing at! </p>
					<a href="c/funny" class="btn btn-outline-secondary">Check it out</a>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="/static/img/life.png">
				<div class="card-body">
					<h4 class="card-title"> c/life</h4>
					<p id = "our_message" class="card-text"> Check out some inspirational life talk! </p>
					<a href="c/life" class="btn btn-outline-secondary">Check it out</a>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<div class="card">
				<img class="card-img-top" src="/static/img/beauty.png">
				<div class="card-body">
					<h4 class="card-title"> c/beauty</h4>
					<p id = "our_message" class="card-text"> Check out what the beauty gurus have to say! </p>
					<a href="c/beauty" class="btn btn-outline-secondary">Check it out</a>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- Connect to social media -->
<div class="container-fluid padding">
	<div class="row text-center padding">
		<div class="col-12">
			<h2>FIND US ON SOCIAL MEDIA</h2>
		</div>
		<div class="col-12 social padding">
			<a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
			<a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>
			<a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
			<a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a>
		</div>
	</div>
</div>

<footer>
	<div class="container-fluid padding">
		<div class="row text-center">
			<div class="col-12">
				<a class="navbar-brand img" href="/"><img src="/static/img/mylogo.png"></a>
				<p id = "our_message"> University of Rochester </p>
				<p id = "our_message"> 500 Joseph C. Wilson Blvd. </p>
				<p id = "our_message"> Rochester, NY 14627 </p>
				<p id = "our_message"> (585) 275-2121 </p>
			</div>
			<div class="col-12">
				<hr class="light">
				<h5>&copy; cnitt.com </h5>
			</div>
		</div>
	</div>
</footer>
</body>
</html>
