<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <title> Forum Home Page</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename='home.css') }}">
    </head>
	<body>
        {% if current_user.is_authenticated %}
        <a href = "profile/ {{ current_user.uid}}" id = "profile" class = "button">Profile</a>
        <a href = "{{ url_for('logout') }}" class = "button">Log out</a>
        {% else %}
        <a href = "/add_user" class = "button">Add user</a>
        <a href = "{{ url_for('login') }}" class = "button">Log in</a>
        </a>
        {% endif %}
        {% if current_user.is_authenticated %}
        <h1 id = "welcome" >Welcome, {{ current_user.first_name }}!</h1>
        {% else %}
        <h1 id = "welcome">Welcome, anon!</h1>
        {% endif %}
            <script>
                function myFunction() {
                var x = document.URL;
                document.getElementById("demo").innerHTML = x;
                    }
            </script>
    </body>
</html>
