<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <title> Home </title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename='home.css') }}">
    </head>
	<body>
        {% if current_user.is_authenticated %}
					<div class="header">
					<h1 id = "welcome" >Welcome, {{ current_user.first_name }}!</h1>
				</div>
					<div class="topnav">
			       <a href="/about" class = "button">About Us</a>
			       <a href = "users/{{current_user.id}}" id = "profile" class = "button">Profile</a>
						 <a href = "{{ url_for('show_sub_cnitt') }}" class = "button">Check out the front page!</a>
						 <a href="{{ url_for('logout') }}" class = "button" style="float:right">Logout</a>
						 <!-- <a href = "{{ url_for('logout') }}" class = "button">Log out</a> -->
     			</div>
        {% else %}
					<h1 id = "welcome">Welcome, anon!</h1>
					<div class="topnav">
						 <a href = "{{ url_for('show_sub_cnitt') }}" class = "button">Check out the front page!</a>
			       <a href= "/about" class = "button">About Us</a>

						 <a href="/add_user" class = "button" style="float:right">Add User</a>
						 <a href="{{ url_for('login') }}" class = "button" style="float:right">Login</a>
     			</div>
        {% endif %}
        <!-- <script>
            function myFunction() {
	            var x = document.URL;
	            document.getElementById("demo").innerHTML = x;
            }
        </script> -->
    </body>
</html>
