<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title> Home </title>
	<link rel = "stylesheet" href = "{{ url_for('static', filename='home.css') }}">
</head>
<body>
{% if current_user.is_authenticated %}
<div class="header">
	<h1 id = "welcome" >Welcome, {{ current_user.first_name }}!</h1>
</div>

<div class="topnav">
	<a href = "/" class = "button">Home</a>
	{% for sub in current_user.subscriptions %}
		<a href = "{{ url_for('show_sub_cnitt')}}{{ sub }}" class = "button">{{sub}}</a>
	{% endfor %}
</div>
<a href="/about" class = "button">About Us</a>

<a href="{{ url_for('logout') }}" class = "button" style="float:right">Logout</a>
<a href="users/{{current_user.id}}" class = "button" style="float:right">Profile</a>
<a href = "{{ url_for('mtp', cnitt_name = cnitt_name ) }}" class = "button">Create Text Post</a>
<a href = "{{ url_for('mlp', cnitt_name = cnitt_name ) }}" class = "button">Create Link Post</a>
<a href="/about" class = "button">About Us</a>
</div>
{% else %}
<div class="header">
	<h1 id = "welcome">Welcome, anon!</h1>
</div>
<div class="topnav">
    {% for c in top_cnitts %}
        <a href = "{{ url_for('show_sub_cnitt') }}{{ c.name }}" class = "button">{{c.name}}</a>
    {% endfor %}


	<a href= "/about" class = "button">About Us</a>

	<a href="{{ url_for('login') }}" class = "button" style="float:right">Login</a>
	<a href="/add_user" class = "button" style="float:right">Register</a>
</div>
{% endif %}

<div class="row">
	<div class="leftcolumn">
		{% for post in posts%}
            <div class="card">
                <span> {{post.cnitt.name}}</span>
                <button class="up_arrow"  type="button">UP</button>
                <b> {{ post.net_votes }}</b>
                {% if post.is_link %}
                    <h2><a href = "{{post.content}}" class="button"> {{ post.title }} </a></h2>
                {% else %}
                    <h2><a href = "{{ url_for('comments_for_post', cnitt_name = cnitt_name, post_id = post.pid)}}" class="button"> {{ post.title }} </a></h2>
                {% endif %}
                <br>
                <a href = "{{ url_for('comments_for_post', cnitt_name = cnitt_name, post_id = post.pid)}}" class="button"> comments </a>
            </div>
        {% endfor %}
	</div>
	<div class="rightcolumn">
		<div class="card">
			<h2>Trending Posts</h2>
			<a href="c/beauty" class = "button">c/beauty</a>
			<a href="c/memes" class = "button">c/memes</a>
			<a href="c/pokemon" class = "button">c/pokemon</a>
		</div>
		<div class="card">
			<h2>Trending Communities</h2>
			<a href="c/games" class = "button">c/games</a>
			<a href="c/funny" class = "button">c/funny</a>
			<a href="c/life" class = "button">c/life</a>
		</div>
		<div class="card">
			<h2>Submit a Feedback Form! </h2>
			<a href="/Feedback Form" class = "button">Feedback Form</a>
		</div>
	</div>
</div>

<div class="footer">
	<h2>Contact Us!</h2>
	<p> University of Rochester </p>
	<p> 500 Joseph C. Wilson Blvd. </p>
	<p> Rochester, NY 14627 </p>
	<p> (585) 275-2121 </p>
</div>

</body>
</html>
