<!DOCTYPE html>
<html>
    <head>
        <title> Login </title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename='login.css') }}">
    </head>
    <body>
      <div class="header">
      <h1 id = "welcome">Log in to Cnitt!</h1>
      </div>
      <br>
      <br>
        <form method="POST" id = "block">
            {{ form.hidden_tag() }}
            {{ form.email.label }}: {{ form.email() }}<br><br>
            {{ form.password.label }}: {{ form.password() }}<br><br>
            {{ form.remember_me.label }}: {{ form.remember_me() }}<br><br>
            <a href = "/" class = "button">Back</a>
            {{ form.submit() }} <br>
        </form>
    </body>
</html>
