<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title> Forum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='forum.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='forum.js') }}"></script>
</head>

    <body>
    <br/>
    <a href = "/" id = "home" class = "button">Back to Home</a>
    <a href = "{{ url_for('logout') }}" class = "button">Log out</a>
            <h1> 
                {{post.title}}
            </h1>
            <ul>
                {% for comment in baseC %}
                <li>
                    <b> {{comment.votes}}</b>

                    <p>{{comment.text}}</p>
                </li>
                {% endfor %}
            </ul>
    <a href = "{{ url_for('makeComment', cnitt_name = cnitt_name,post_id = post.pid ) }}" class = "button">Add Comment</a>
    </body>
</html>
