{% for post in posts%}
		<div class="container-fluid padding">
			<div class="row padding">
				<div class="col-lg-12">
                    <button class="up_arrow" id="{{ post.pid }}_up"  type="button">UP</button>
					<b id="{{ post.pid }}_votes"> {{ post.net_votes }}</b>
                    <button class="down_arrow"  id="{{ post.pid }}_down" type="button">DOWN</button>
                    <h2><a href = "users/{{post.creator}}"> {{users.query.filter_by(id=post.creator).first().username }} </a></h2>
					{% if post.is_link %}
                        <h2><a href = "{{post.content}}"> {{ post.title }} </a></h2>
					{% else %}
					<h2><a href = "{{ url_for('comments_for_post', cnitt_name = cnitt_name, post_id = post.pid)}}"> {{ post.title }} </a></h2>
					{% endif %}
					<p> </br> </p>
					<a href = "{{ url_for('comments_for_post', cnitt_name = cnitt_name, post_id = post.pid)}}" id = "blur" class="btn btn-primary"> Comments </a>

				</div>
			</div>
			<hr class="light">
		</div>
		</br>
		</br>
		</br>
{% endfor %}
{% if hasMore %}
<div id="moretarget">
    loading
</div>
{% endif %}