<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
        <title> Your User Profile</title>
        <link rel = "stylesheet" href = "{{ url_for('static', filename='profile.css') }}">
    </head>
	<body>
        {% if current_user.is_authenticated %}
				<div class="header">
				<h1 id = "welcome" >{{ current_user.first_name }}!</h1>
				</div>
				<div class="topnav">
					 <a href = "/" class = "button">Home</a>
					 <a href = "{{ url_for('show_sub_cnitt') }}" class = "button">Front Page!</a>
					 <a href="/about" class = "button">About Us</a>

					 <a href="{{ url_for('logout') }}" class = "button" style="float:right">Logout</a>
					 <a href="/editProfile" class = "button" style="float:right">Edit Profile</a>
				</div>
		<ul>
		    {% for post in posts%}
		    <li>
		        <button class="up_arrow"  type="button">UP</button>
		        <b> {{ post.net_votes }}</b>
		        {% if post.is_link %}
		        <a href = "{{post.content}}"> {{ post.title }} </a>
		        {% else %}
		        <a href = "c/{{post.cnitt_name}}/comments/{{post.pid}}"> {{ post.title }} </a>
		        {% endif %}
		        <br>
		        <a href = "c/{{post.cnitt_name}}/comments/{{post.pid}}"> comments </a>
		    </li>
		    {% endfor %}
		</ul>
				{% else %}
				 <!-- Lead them to login page. -->
				{% endif %}
    </body>
</html>
