<!DOCTYPE html>
	<html>
	<head>
			<meta charset="utf-8"/>
		<!-- Required meta tags -->
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	    <!-- Bootstrap CSS -->
			<title> Create Text Post </title>
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
			<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
			<!-- Allows us to use social media icons -->
			<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
			<link rel = "stylesheet" href = "{{ url_for('static', filename='mega.css') }}">
	</head>
	<body class = "comment-background">
	  <div class="model-dialog text-center">
	    <div class="col-sm-4 main-section">
	      <div class="modal-content">

	        <div class="col-12 user-img">
	          <img src="/static/img/mylogo.png">
	        </div>
	        <form method="POST" class="col-12">
	          {{ form.hidden_tag() }}
	           <div class="form-group">
	            E-mail Address : {{ form.email() }}
	          </div>
	          <div>
	            {{ form.submit(class_="btn") }}
	          </div>
	        </form>
	    </div>
	  </div>
	</body>
	</html>
