<!DOCTYPE html>
	<html>
	<head>
		<title> Create a Post </title>
		<link rel="stylesheet" href="{{ url_for('static', filename='commentForm.css') }}">
	</head>
	<body>
		<div class="header">
		<h1 id = "welcome" > Cnitt </h1>
	</div>
			{% if current_user.is_authenticated %}
				<div class="topnav">
					 <a href = "/" class = "button">Home</a>
					 <a href="/about" class = "button">About Us</a>

					 <a href="{{ url_for('logout') }}" class = "button" style="float:right">Logout</a>
					 <a href="users/{{current_user.id}}" class = "button" style="float:right">Profile</a>
				</div>

				</br></br>

				<form method="POST" id = "block">
							{{ form.hidden_tag() }}
							Title: {{ form.title() }}</br></br>
							Content: {{ form.content() }}</br></br>
							{{ form.submit() }}</br>
				</form>

			{% else %}
				<div class="topnav">
					 <a href = "/" class = "button">Home</a>

					 <h2> Please Login or Register to Post! </h2>

					 <a href="{{ url_for('login') }}" class = "button" style="float:right">Login</a>
					 <a href="/add_user" class = "button" style="float:right">Register</a>
				</div>
			{% endif %}
	</body>
	</html>
